<div class="form-group">
  <ul class="nav nav-tabs bordered">

    <li ng-if="::to.label" >
      <a ng-click="vm.$collapsed = !vm.$collapsed">
        <i class="fa fa-fw fa-lg" ng-class="vm.$collapsed? 'fa-angle-up' : 'fa-angle-down'"></i>
        {{::to.label}}
      </a>
    </li>

    <li ng-class="{active: vm.$active === $index}" ng-repeat="item in model[options.key] track by $index">
      <a ng-click="vm.setItem($index)">{{ $index + 1 }}</a>
    </li>


    <li ng-hide="vm.$active < 0 || vm.$collapsed" class="pull-right">
      <a class="txt-color-red" ng-click="vm.removeActive()" tooltip="Delete">
        <i class="fa fa-fw fa-times"></i>
      </a>
    </li>

    <li>
      <a ng-click="vm.addNew()" tooltip="Add new">
        <i class="fa fa-fw fa-plus txt-color-blue"></i>
      </a>
    </li>
  </ul>

  <div class="tab-content padding-10" ng-hide="vm.$collapsed">
    <div
      ng-repeat="item in model[options.key] track by $index"
      ng-init="fields = vm.copyFields(to.fields)"
      class="tab-pane active"
      ng-show="vm.$active === $index"
    >
      <formly-form model="item" form="form" fields="fields">
      </formly-form>
    </div>

    <div class="tab-content active" ng-if="model[options.key].length === 0">
      <h5 class="text-muted small text-uppercase text-center">nothing here yet</h5>
    </div>
  </div>
</div>
