<form novalidate="novalidate" name="entitlementForm">
    <fieldset>
        <div class="form-group">
            <label class="control-label">Product Id:</label>
            <input class="form-control" type="text" ng-model="vm.entitlement.productId" name="productId" placeholder="Product Id">
        </div>
        <div class="form-group">
            <label class="control-label">Offer Id:</label>
            <input class="form-control" type="text" ng-model="vm.entitlement.offerId" name="offerId" placeholder="Offer Id">
        </div>

        <div class="form-group">
            <label class="control-label">Purchase Id:</label>
            <input class="form-control" type="text" ng-model="vm.entitlement.purchaseId" name="purchaseId" placeholder="Purchase Id">
        </div>
    </fieldset>

    <div class="form-actions">
        <button ng-if="vm.entitlement.id" ng-click="vm.remove()" class="btn btn-danger  pull-left">
            Delete
        </button>
        <a class="btn btn-default" data-ui-sref="app.entitlements">
            Back
        </a>
        <button ng-if="!vm.entitlement.id" type="submit" class="btn btn-primary" ng-click="vm.submit()">
            Create
        </button>
    </div>
</form>
