<form novalidate="novalidate" name="promotionForm">
    <fieldset>
        <div class="form-group">
            <label class="control-label">Name:</label>
            <input class="form-control" type="text" ng-model="vm.promotion.name" name="name" placeholder="Name">
        </div>

        <div class="form-group">
            <label class="control-label">Tags:</label>
            <input class="form-control tagsinput" type="text" smart-tagsinput="::vm.promotion.tags" data-role="tagsinput" ng-model="vm.promotion.tags" ng-list>
        </div>

        <div class="form-group">
            <label class="control-label">Tenant Id:</label>
            <input class="form-control" type="text" ng-model="vm.promotion.tenantId" name="tenantId" placeholder="Tenant Id">
        </div>

        <!-- <div class="form-group">
            <label class="input">
                Deleted On:
                <input type="text" ng-model="vm.promotion.deleteDate" name="deleteDate" readonly disabled="disabled">
            </label>
        </div> -->
    </fieldset>

    <div class="form-actions">
        <button ng-if="vm.promotion.id" ng-click="vm.remove()" class="btn btn-danger pull-left">
            Delete
        </button>
        <a class="btn btn-default" data-ui-sref="app.promotions">
            Back
        </a>
        <button type="submit" class="btn btn-primary" ng-click="vm.submit()">
            {{ vm.promotion.id? 'Update' : 'Create' }}
        </button>
    </div>
</form>
