<form novalidate="novalidate" name="offerForm">
    <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
            <label class="input">
                Name:
            </label>
            <input class="form-control" type="text" ng-model="vm.offer.name" name="name" placeholder="Name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label">
                Tenant Id:
            </label>
            <input class="form-control" type="text" ng-model="vm.offer.tenantId" name="tenantId" placeholder="Tenant Id">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label">
                Regex:
            </label>
            <input class="form-control" placeholder="Regex" type="text" ng-model="vm.offer.regex" name="regex">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label">Offer Type:</label>
            <input class="form-control" placeholder="Offer Type" type="text" ng-model="vm.offer.offerType" name="offerType">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class=`"control-label">Start Date:</label>
                <div class="input-group">
                    <input class="form-control"
                        placeholder="Start Date" name="startDate" type="text"
                        date-format="mm/dd/yy"
                        smart-datepicker ng-model="vm.startDate"
                    >
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label class="control-label">End Date:</label>
                <div class="input-group">
                    <input class="form-control"
                        date-format="mm/dd/yy"
                        placeholder="End Date" name="endDate" type="text"
                        smart-datepicker ng-model="vm.endDate"
                    >
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label">
                    Entitlement Duration:
                </label>
                <input class="form-control" placeholder="Entitlement Duration" type="text" ng-model="vm.offer.entitlementDurationMillis" name="entitlementDurationMillis">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label">
                    Price:
                </label>
                <input class="form-control" placeholder="Price" type="text" ng-model="vm.offer.price" name="price">
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button ng-if="vm.offer.id" ng-click="vm.remove()" class="btn btn-danger  pull-left">
            Delete
        </button>
        <a class="btn btn-default" data-ui-sref="app.offers">
            Back
        </a>
        <button type="submit" class="btn btn-primary" ng-click="vm.submit()">
            {{ vm.offer.id? 'Update' : 'Create' }}
        </button>
    </div>
</form>
